.search-small-heading {
 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(24, 21, 21);
}

.search-small-input {
 
    position: relative;
    bottom:40%;
    height: 27px;
    width: 170px;
      
}

.icon-small{
  background-color:#5BB1FD;
  margin-left: 1px;
  padding: 8px;
  height: 22px  !important;
  align-items: center;
  margin-top: 7px;
    padding: .2em;
    position: relative;
    bottom: 19%;
}

@media screen and (min-width: 764px) {
    .search-small-heading {
        display: none;
    }
}