.header_search {
  display: flex;
  text-align: center;



}

.header_searchIcon {
  background-color: #FDB65B;
  margin-left: 1px;
  padding: 8px;
  height: 21px !important;
  align-items: center;
  margin-top: 5px;

}

.header_searchInput {
  height: 12px;
  width: 200px;
  padding: 11px;
  border: none;
  margin-left: 20px;
  margin-top: 6px;
  align-items: center;

}

.header-spur {

  left: 28%;
  font-size: 1.7rem;

  text-align: center;

}

.logo-rocket {

  width: 35px;
  height: 27px;
  object-fit: contain;
  margin: 5px 5px;

  left: 26%;
  font-size: 2rem;


}

.header-nav {

  display: flex;
  width: auto;
  margin-right: 40px;



}

.header_option {

  margin: 10px;
  color: white;

}

@media screen and (max-width: 764px) {

  .header-nav,
  .header_search {
    display: none;

  }

  .head-rocket {
    margin-right: 33px;

  }

}

.basket {
  color: white;
}

.head-rocket {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  right: 0%;
}

.mvNpj {
  height: 13px !important;
}

.gBOgVI {
  height: 56px !important;
}

.header_option:hover {
  border-bottom: 3px solid rgb(70, 196, 247);
}