@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


h1 {
   font-size: 0.6em;
   font-family: 'Fredoka One', cursive;
   color: white;
   padding: 15px ;
   height : 18%;
   animation:  pulse;
   animation-duration: 2.5s;
   text-align: center;
   margin:  0px;
}



.header_back {
  
  background-image: url("images - Copy.png");
  background-position: fixed;
 
  height: 180px;
  width : 100%;
  border-radius: 30px;
 box-shadow:  10px 8px 12px  rgb(68, 64, 64);
 

}

@media screen and (min-width: 684px) {
  div.header_back {
    font-size: 90px;
  }
}

@media screen and (max-width: 684px) {
  div.header_back {
    font-size: 45px;
    height: 120px;


  }
}
