.expand-more-icon 
 {
 transform: scale(1.7);
  
 }
.expand-more-icon:hover
{
  transform: scale(2);
}

.makeStyles-paper-2
{
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width:50%;
  overflow: auto;
  height: 420px !important;
border-radius: 10px;
z-index: 10;

}
#transition-modal-description
{
  color: white;
}
#transition-modal-title
{
  color:white  !important;

}
#position-modal
{
  color: #ff7171;
  text-align: center;
  margin-bottom: 10px;
}